<div class="card-body">
  <div *ngFor="let alert of alertsDismiss">
    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
  </div>
</div>
<div class="card">
    <div class="card-header">
      <section class="row">
        <h4>&nbsp;<i class="fa fa-align-justify" >&nbsp;</i> Tipo de despesas</h4>
        <button style="margin-left: 80%;" data-toggle="modal" (click)="registerModal.show()" type="button" class="btn btn-pill btn-success">&nbsp;<i class="fa fa-plus"></i>&nbsp; Novo</button>
      </section>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Tipo</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tipo of listTipoDespesa">
            <td style="font-size: 14px;">{{tipo.nome}}</td>
            <td style="font-size: 14px;">{{tipo.descricao}}</td>
            <td>
                <label style="font-size: 14px;" class="badge badge-success" *ngIf="tipo.isDespesa== false">Receita</label>
                <label style="font-size: 14px;" class="badge badge-danger" *ngIf="tipo.isDespesa== true">Despesa</label>
            </td>
            <td>
                <button type="button" class="btn btn-pill btn-warning" (click)="update(tipo)">&nbsp;<i class="fa fa-edit"></i></button>
                <button type="button" class="btn btn-pill btn-danger" (click)="delete(tipo.id)">&nbsp;<i class="fa fa-trash"></i>&nbsp;</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div bsModal #registerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Novo tipo despesa</h4>
          <button type="button" class="close" (click)="registerModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="tipoDespesaForm">
            <div class="form-group">
              <label for="ccyear">Nome</label>
              <input type="text" class="form-control" placeholder="" autocomplete="nome" required formControlName="Nome">
            </div>
            <div class="form-group">
              <label for="ccyear">Descrição</label>
              <br/>
              <input type="text" class="form-control" placeholder="" autocomplete="descricao" required formControlName="Descricao">
            </div>
            <div class="form-group">
              <label for="ccyear">Tipo</label>
              <br/>
              <select class="form-control" formControlName="Tipo">
                <option value="0">Receita</option>
                <option value="1">Despesa</option>
              </select>
            </div>
          </form>
          <div class="card-body">
            <div *ngFor="let alert of alertsDismiss">
              <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="registerModal.hide()">Fechar</button>
          <button type="button" class="btn btn-primary" (click)="submit()">Salvar</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->