<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="registerForm" (ngSubmit)="submit()">
                <h1>Crie sua conta</h1>
                <p class="text-muted">Tenha um maior controle sobre suas despesas</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Nome" autocomplete="Nome" required formControlName="Name">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" autocomplete="email" required formControlName="Email">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Senha" autocomplete="new-password" required formControlName="Password">
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Confirme a senha" autocomplete="new-password" required formControlName="ConfirmPassword">
                </div>
                <div class="card-body">
                  <div *ngFor="let alert of alertsDismiss">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
                  </div>
                </div>
                <div class="row">
                  <section class="col-6">
                    <button type="button" class="btn btn-primary px-4 ml-4" (click)="back()">Já tem uma conta ?</button>
                  </section>
                  <section class="col-6">
                    <button type="submit" class="btn btn-success px-5 mr-6">Criar Conta</button>
                  </section>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
